*.aux
*.bak
*.bbl
*.blg
*.dvi
*.ent
*.fdb_latexmk
*.fls
*.jpg
*.lock
*.lof
*.log
*.nav
*.out
*.pdf
*.png
*.pyc
*.rel
*.snm
*.synctex.gz*
*.toc
*~
.#*
\#*
auto/
*/.auxfiles/
sandbox/
build/
gitHeadInfo.gin
tugboat/tugboat.bib
bb/
gitinfo2.zip
